html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

.typed {
    display: inline-block;
}

.typed-cursor{
    display: inline-block;
    font-size: 50px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#header a:visited {
    color: #C1CAC5;
    text-decoration: none;
}

.image.featured {
    width: 260px;
    height: 462px;
    border-radius: 8px;
    overflow: hidden;
}

.box.feature.pickup .image.featured {
    background: no-repeat center url(../img/feature/pickup.jpg);
}

.box.feature.pickup:hover .image.featured {
    background: no-repeat center url(../img/feature/pickup.gif);
}

.box.feature.fabrication .image.featured {
    background: no-repeat center url(../img/feature/fabrication.jpg);
}
.box.feature.fabrication:hover .image.featured {
    background: no-repeat center url(../img/feature/fabrication.gif);
}

#webGL-canvas {
    position: relative;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 2em;
}

#webGL-canvas .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(10, 10, 10, 0.3);
    display: flex;
    align-items: center;
}

#webGL-canvas:focus {
    outline: none;
}

#webGL-canvas:focus .overlay {
    display: none;
}

#webGL-canvas .overlay p {
    width: 100%;
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    margin: 0;
    color: white;
}

@media screen and (max-width: 736px) {
    #webGL-canvas .overlay p {
        font-size: 8vw;
    }
}

#robot .sidebar {
    height: 600px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 736px) {
    #robot .sidebar {
        height: auto;
        display: block;
    }
}
